.card {
  width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  max-width: 250px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__delete-btn {
  background-image: url(../images/Delete.svg);
  background-size: contain;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/Delete-hover.svg);
  cursor: pointer;
}

.card__like-btn {
  background-image: url(../images/like.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 23px;
  background-color: transparent;
  border: none;
  opacity: 40%;
}

.card__like-btn_active {
  background-image: url(../images/Liked-active.svg);
  opacity: 100%;
}

.card__like-btn_active:hover {
  background-image: url(../images/Liked-active-hover.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}
