.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  margin: 0;
}

.card__like-btn {
  background-image: url(../images/like.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

@media screen and (max-width: 320px) {
  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }
  .card__content {
  }

  .card__like-btn {
  }
}
