.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 60px 0;
  border-top: 1px solid rgba(33, 33, 33, 0.7);
}

.footer__text {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(33, 33, 33, 0.7);
}
