.modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0 10px;
  z-index: 1000;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  border: none;
  background-color: transparent;
  background-image: url(../images/Close-modal-black.svg);
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.7;
}

.modal__image-container {
  padding: 0;
  position: relative;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  color: rgba(33, 33, 33, 1);
  margin: 0 0 32px;
  display: block;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  padding: 16px 12px;
  gap: 10px;
  margin: 8px 0 0;
  width: 100%;
  border: #2121214d solid 1px;
  border-radius: 8px;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 1);
}

.modal__input_type_error {
  display: block;
  margin-top: 8px;
  color: red;
  /* style font and color as needed */
}

.modal__submit-btn {
  height: 52px;
  width: 156px;
  padding: 18px 32px;
  background-color: #212121;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.modal__submit-btn:hover {
  cursor: pointer;
}

.modal__submit-btn_disabled {
  background-color: #bdbdbd;
  cursor: default;
}

.modal__close-btn_type_preview {
  background-image: url(../images/Close-modal-white.svg);
  top: 0;
  right: -42px;
  z-index: 1001;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.7;
  cursor: pointer;
}

.modal__caption {
  line-height: 120%;
  max-width: 214px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  padding: 4px 8px;
  color: white;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  background-color: transparent;
  border-radius: 8px;
}

.modal__error {}

@media (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}

@media (max-width: 320px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -42px;
    right: 0;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    padding: 12px 16px;
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    font-size: 16px;
  }
}
